$main-app-width: 100%
$main-app-height: 100%

// Content Container

$app-content-width: calc($main-app-width - 3.2308%)
$app-content-height: calc($main-app-width - 5.5215%)

$app-side: calc(3.2308% / 2)
$app-top: calc(5.1533% / 2)

//OffCanvas Dimensions

$OffCanvas-width: calc(($main-app-width - 77%))
$OffCanvas-height: $app-content-height

// Sticky note dimensions

$note-width: calc(($main-app-width - 78.0769%) * 100)
$note-height: $note-width

// Sticky note container dimensions

$note-container-width: (($main-app-width - 26.8%) )
$note-container-height: (($main-app-height - 25%))

// Header Shift Dimensions
$left-shift: calc($OffCanvas-width + $app-side)

//Sticky Note Container Shift Dimensions
$sticky-note-left-shift: calc($left-shift + $app-side + 5rem)
$sticky-note-top-shift: 3vw

$test: calc($note-container-width * 5)

