@font-face 
  font-family: 'Volte Semibold'
  src: url('/fonts/Volte/Volte-Semibold/Volte-Semibold.ttf')

@font-face 
  font-family: 'Volte Regular'
  src: url('/fonts/volte-new/Volte-Regular.ttf')

@font-face 
  font-family: 'Volte Bold'
  src: url('/fonts/volte-new/Volte-Bold.ttf')

@font-face 
  font-family: 'Volte Medium'
  src: url('/fonts/volte-new/Volte-Medium.ttf')

@font-face 
  font-family: 'Lexend Regular'
  src: url('/fonts/Lexend/static/Lexend-Regular.ttf')

@font-face 
  font-family: 'Lexend Medium'
  src: url('/fonts/Lexend/static/Lexend-Medium.ttf')

@font-face 
  font-family: 'Lexend SemiBold'
  src: url('/fonts/Lexend/static/Lexend-SemiBold.ttf')

@font-face 
  font-family: 'Lexend Bold'
  src: url('/fonts/Lexend/static/Lexend-Bold.ttf')