@import '../_variables'

.stickywallContainer
    display: flex
    padding-left: 1.3%
    padding-top: 1.5%
    //background-color: rgba(254, 242, 3, 0.617) !important
    border-radius: 5px
    //border-color: #ebebeb !important
    position: relative
    transition: all 0.4s ease
    width: 100% // full width initially
    height: 100%
    //transition: width 0.3s ease, marginLeft 0.3s ease
    

    &.shift
        transform: translateX($sticky-note-left-shift) // shift left by the off-canvas width
        width: $note-container-width
        height: $note-container-height
        margin-left: 1.5385%
        padding-bottom: 1.35%
        //padding: 2.6%
        //width: calc(100% - 350px) // new width is the remaining space
        border: 1.5px solid #ebebeb // Add a 2px solid border (change color and width as needed)
        box-sizing: border-box // Ensure the border is included in the element's width
        //border-color: rgb(207, 56, 56) !important
        //border: show
        //margin-left: 350px !important
        //width: calc(100% - 22.5%) 

.stickynotecolumn
    //background-color: rgba(33, 186, 31, 0.5) !important
    flex-wrap: wrap
    transition: margin-right 0.4s ease
    margin-right: 8vw
    margin-bottom: 2.5vh

    &.shifts
        margin-left: .5vw
        margin-right: 10vw

.stickynotetitle
    size: 4rem !important

.stickynotecontent
    font-family: 'Lexend Light' !important
    color: rgb(60,60,60)
    font-size: small

.noteCard
    display: flex
    justify-content: start
    align-items: start
    font-family: 'Lexend Medium'
    border-radius: 5px
    color: #333
    background-color: unset

    /*  @media ( min-width:  768px)
        height: min-content
        width: 30rem */

    @media ( min-width:  992px)
        height: 22vw
        width: 22vw

        &.shiftted
            height: 20vw
            width: 20vw

        

    &.bg-yellow
        background-color: rgb(254, 239, 174) !important
        border-color: rgb(254, 239, 174) !important

    &.bg-blue
        background-color: rgb(202,231,234) !important
        border-color: rgb(202,231,234) !important

    &.bg-warning
        background-color: rgb(255,212,213) !important
        border-color: rgb(255,212,213) !important

    &.bg-danger
        background-color: rgb(255, 205, 162) !important
        border-color: rgb(255, 205, 162) !important

.addNoteCard
    border-color: rgb(232, 232, 232)
    background-color: rgb(232, 232, 232)
    width: 22vw
    height: 22vw
    display: flex

    .addNote
        font-size: 5rem
        color: rgb(30, 33, 36)
    
    /*     @media ( min-width:  768px)
        height: max-content
        width: 30rem */

    @media ( min-width:  992px)
        height: 22vw
        width: 22vw

        &.shiftts
            height: 20vw
            width: 20vw


    
