.customlistbutton
  font-family: 'Lexend Regular'

  &.tag1
    background-color: rgb(202,231,234) !important

  &.tag2
    background-color: rgb(255,212,213)

  &.addtag
    background-color: rgb(232,232,232)